@import "mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: "RobotoMono Nerd Font Propo"; 
    font-size: 13px;

    min-height: 0;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
  background: @base;
  border: 1px solid @text;
  border-radius: 5px;
}

tooltip label {
  color: @text;
}

#workspaces {
  margin: 13px 0px 0px 15px;
}

#workspaces button {
    color: @text;
    background: @base;
    padding: 0px 5px;
    border: 1px solid @text;
    border-radius: 5px;
    margin-right: 10px;
}

#workspaces button.focused {
    background: @text;
    color: @base;
    border: 0;
}

#clock, #pulseaudio, #bluetooth, #network, #battery {
  color: @text;
  background-color: @base;
  padding: 0px 5px;
  border: 1px solid @text;
  border-radius: 5px;
  margin: 13px 0px 0px 15px;
}

#clock {
  margin-left: 0px;
}

#battery {
  margin-right: 15px;
}
